/* common */
.container {
  width: 1100px;
  margin: 0 auto;
}

.red-box {
  background-color: #ff0000;
  width: 300px;
  height: 300px;
  display: block;
}

.blue-box {
  background-color: #0008ff;
  width: 300px;
  height: 300px;
  display: block;
}

.green-box {
  background-color: #22ff00;
  width: 300px;
  height: 300px;
  display: block;
}

.orange-box {
  background-color: #ff8400;
  width: 300px;
  height: 300px;
  display: block;
}

.green2-box {
  background-color: #00ff51;
  width: 300px;
  height: 300px;
  display: block;
}

.yellow-box {
  background-color: #d4ff00;
  width: 300px;
  height: 300px;
  display: block;
}

.pink-box {
  background-color: #ff00e1;
  width: 300px;
  height: 300px;
  display: block;
}

/* Q1 サイズ変更 */
.size-change {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

/* Q2 色変更 */
.color-change {
  background-color: #ff0000;
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/* Q3 margin値の変更 */
.margin-change {
  text-align: center;
  font-size: 0;
}

.margin-change .blue-box {
  margin-right: 150px;
  display: inline-block;
}

.margin-change .green-box {
  display: inline-block;
}


/* Q4 floatの解除 */

.float-change .red-box,
.float-change .blue-box {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Q5 flexboxの入れ替え(逆順) */
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  text-align: center;
  line-height: 300px;
}

/* Q6 flexboxの入れ替え(指定) */
.fb-change .green2-box {
  order: 1;
}

.fb-change .yellow-box {
  order: 2;
}

.fb-change .pink-box {
  order: 3;
}


/* Q7 要素の表示・非表示 */
.box-display .red-box {
  display: none;
}

@media (max-width:960px) {

  /* Q1 サイズ変更 */
  .size-change {
    width: 200px;
    height: 200px;
  }

  /* Q2 色変更 */
  .color-change {
    background-color: #007bff;
  }

  /* Q3 margin値の変更 */
  .margin-change .blue-box {
    margin-right: 50px;
  }

  /* Q4 floatの解除 */

  .float-change .red-box,
  .float-change .blue-box {
    float: none;
  }


  /* Q5 flexboxの入れ替え(逆順) */
  .fb-reverse {
    flex-direction: row-reverse;
  }

  /* Q6 flexboxの入れ替え(指定) */
  .fb-change .green2-box {
    order: 2;
  }

  .fb-change .yellow-box {
    order: 3;
  }

  .fb-change .pink-box {
    order: 1;
  }


  /* Q7 要素の表示・非表示 */
  .box-display .red-box {
    display: block;
  }

  .box-display .blue-box {
    display: none;
  }

}